<p>
  maps works!
</p>

<div class="row" style="height: 720px;">
  <iframe id="123" [srcdoc]="displayString" class="col-12"> </iframe>
  <!-- here no maps -->
  <!-- <iframe src="http://localhost:4200/assets/js/testpage.html" class="col-12"></iframe> -->
</div>
<div></div>